.intro {
  padding: 60px;
  h1,
  p,
  h2 {
    margin: 10px;
  }

  p {
    font-size: 15px;
    line-height: 26px;
    color: #eee;
    font-weight: 500;
    max-width: 520px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 27px;
    border-bottom: 3px solid #3c54b3;
    display: inline-block;
  }

  section {
    width: 60%;
    display: inline-block;
    vertical-align: top;

    button {
      background: #cca712;
      font-weight: bold;
      font-size: 17px;
      border-radius: 10px;
      padding: 10px 15px;
      margin: 15px;
    }
  }

  img {
    width: 40%;
    display: inline-block;
  }
}

.mock {
  img {
    max-width: 640px;
    margin-top: -160px;
  }
}
