.info {
  padding: 60px;
  margin-bottom: 45px;

  h1,
  h2,
  p {
    margin: 10px;
  }

  p {
    font-size: 15px;
    line-height: 26px;
    color: #eee;
    font-weight: 500;
    max-width: 520px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 27px;
    border-bottom: 3px solid #3c54b3;
    display: inline-block;
  }

  section {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 45px 0;
    a {
      color: #000;
      background: #cca712;
      font-weight: bold;
      font-size: 17px;
      border-radius: 10px;
      padding: 10px 15px;
      margin: 15px;
      display: inline-block;
    }
  }

  img {
    width: 40%;
    display: inline-block;
  }
}

.mock {
  img {
    width: 640px;
    margin-top: -160px;
  }
}

@media (max-width: 768px) {
  .info {
    position: relative;
    overflow: hidden;
    padding: 15px;
    margin-bottom: 0;
    section {
      display: block;
      width: 100%;
      padding: 0;
      padding-top: 90px;
    }
    img {
      display: block;
      position: absolute;
      top: 0;
      right: -80px;
      width: 200px;
      z-index: -3;
    }
  }

  .mock {
    img {
      width: 100%;
      max-width: unset;
      margin-top: 0;
    }
  }
}
